In [1]:
s="nam"

In [2]:
type(s)

str

In [3]:
s[0]

'n'

In [4]:
s[1]

'a'

In [5]:
s[-1]

'm'

In [6]:
s[-2]

'a'

In [7]:
a="my name is nam"

In [8]:
a[-1]

'm'

In [9]:
a[0]

'm'

In [10]:
a[100]

IndexError: string index out of range

In [11]:
s

'nam'

In [12]:
a

'my name is nam'

In [13]:
a[0:6]

'my nam'

In [14]:
a[0:300]

'my name is nam'

In [15]:
a[300]

IndexError: string index out of range

In [16]:
a[-100]

IndexError: string index out of range

In [17]:
a[-1:-4]

''

In [18]:
s[0:300:1]

'nam'

In [19]:
s[0:300:2]

'nm'

In [20]:
s[0:100:-1]

''

In [21]:
s[-1:-4:-1]

'man'

In [30]:
s[-3:-1:1]

'na'

In [31]:
s[0:-10:-1]

'n'

In [32]:
s[::]

'nam'

In [33]:
s[:8]

'nam'

In [34]:
s[-2:]

'am'

In [35]:
s

'nam'

In [36]:
s[::-1]

'man'

In [37]:
s[-1::-1]

'man'

In [38]:
a

'my name is nam'

In [39]:
a[::-1]

'man si eman ym'

In [40]:
a[-5:5]

''

In [41]:
a[-5:5:-1]

'si e'

In [42]:
"nam"*3

'namnamnam'

In [43]:
"namrata"+"mishra"

'namratamishra'

# len includes space

In [47]:
len(a)

14

In [48]:
s

'nam'

In [49]:
a

'my name is nam'

In [52]:
a.index('a')

4

In [53]:
a.find('a')

4

In [54]:
a.find('n')

3

In [55]:
a.find('na')

3

In [56]:
a

'my name is nam'

In [57]:
a.count('n')

2

In [59]:
a.count('N')

0

In [60]:
a.count('z')

0

In [63]:
l=a.split()

In [62]:
type(a.split())

list

In [64]:
l

['my', 'name', 'is', 'nam']

In [65]:
l[2]

'is'

In [66]:
l[0:2]

['my', 'name']

In [67]:
a.split('m')

['', 'y na', 'e is na', '']

In [68]:
a

'my name is nam'

In [69]:
a.upper()

'MY NAME IS NAM'

In [70]:
p="Nam"

In [71]:
p.upper()

'NAM'

In [72]:
p.swapcase()

'nAM'

In [74]:
q="namrata"

In [75]:
q.title()

'Namrata'

In [76]:
q.capitalize()

'Namrata'

In [77]:
b="namrata"
c="mishra"

In [78]:
b.join(c)

'mnamratainamratasnamratahnamratarnamrataa'

In [79]:
" ".join("namrata")

'n a m r a t a'

In [80]:
reversed("namrata")

In [83]:
for i in reversed("namrata"):
    print(i)

a
t
a
r
m
a
n

In [85]:
k="namrata"
k[::-1]

'atarman'

# Removing space

In [86]:
s=" namrata "

In [87]:
s.rstrip()

' namrata'

In [88]:
s.lstrip()

'namrata '

In [89]:
s.strip()

'namrata'

In [90]:
s="namrata"

In [91]:
s.replace('n','xyz')

'xyzamrata'

In [92]:
s.replace('z',"xyz")

'namrata'

# \t expands the string

In [93]:
"namrata\tmishra".expandtabs()

'namrata mishra'

In [94]:
s.center(40, 't')

'ttttttttttttttttnamratattttttttttttttttt'

In [95]:
s.center(40, 'yt')

TypeError: The fill character must be exactly one character long

# Cannot strip in between the words in a sentence, must perform the required function first and then concatenate.

In [96]:
b="    indians are the best in the world"
b.strip()

'indians are the best in the world'

In [97]:
b.strip("are")

'    indians are the best in the world'

In [98]:
a="namrata"

In [99]:
a.isupper()

False

In [100]:
a.islower()

True

In [101]:
s="    namrata"

In [102]:
s.isspace()

False

In [103]:
s=" "

In [104]:
s.isspace()

True

In [105]:
s=""
s.isspace()

False

In [106]:
s="1244"

In [107]:
s.isdigit()

True

In [108]:
s="namrata"
s.endswith('a')

True

In [110]:
s.startswith('p')

False

# istitle checks if the first name starts with capital letter or not

In [111]:
s.istitle()

False

In [112]:
s.encode()

b'namrata'

In [113]:
s.encode('JIS X 0208')

LookupError: unknown encoding: JIS X 0208

In [115]:
s="fHN HAGJH QHJSGJY HSMHXW JKSYKIS"

In [116]:
l=["namrata","mishra",1223,4+8j,True,45.67]

In [117]:
type(l)

list

In [118]:
l[0]

'namrata'

In [119]:
l[-5]

'mishra'

In [120]:
l

['namrata', 'mishra', 1223, (4+8j), True, 45.67]

In [121]:
l[0:4]

['namrata', 'mishra', 1223, (4+8j)]

In [122]:
l[::-1]

[45.67, True, (4+8j), 1223, 'mishra', 'namrata']

In [123]:
l[-1:6]

[45.67]

In [124]:
type(l[4])

bool

In [125]:
l[0][1]

'a'

In [128]:
l[3].real

4.0

In [129]:
l[3].imag

8.0

In [130]:
l1=["namrata","mishra",124]
l2=["Bhumika","shree",56.67]

In [131]:
l1+l2

['namrata', 'mishra', 124, 'Bhumika', 'shree', 56.67]

In [132]:
l1+["nam"]

['namrata', 'mishra', 124, 'nam']

In [133]:
l1*4

['namrata',
 'mishra',
 124,
 'namrata',
 'mishra',
 124,
 'namrata',
 'mishra',
 124,
 'namrata',
 'mishra',
 124]

In [134]:
l1*2

['namrata', 'mishra', 124, 'namrata', 'mishra', 124]

In [135]:
l1[0]

'namrata'

In [136]:
l1[0]="yourname"

In [137]:
l1

['yourname', 'mishra', 124]

# List is mutable,string is not mutable,since we cannot changes a string

In [139]:
l1[0]="k"

In [140]:
l1

['k', 'mishra', 124]

In [141]:
s="nam"

In [143]:
s[0]="k"

TypeError: 'str' object does not support item assignment

In [144]:
len(l1)

3

In [145]:
345 in l1

False

In [204]:
l=["namrata","mishra",1223,4+8j,True,45.67]

In [205]:
l[-1:6]

[45.67]

In [178]:
l2=["Bhumika","shree",56.67]

In [158]:
l2.append("my")

In [159]:
l2

['Bhumika', 'shree', 56.67, 'my']

In [161]:
l2.pop(3)

'my'

In [162]:
l2.insert(1,"gjjk")

In [163]:
l2

['Bhumika', 'gjjk', 'shree', 56.67]

In [164]:
l2.insert(3,[45,89,68,56])

In [165]:
l2

['Bhumika', 'gjjk', 'shree', [45, 89, 68, 56], 56.67]

In [168]:
l2[::-1]

[56.67, [45, 89, 68, 56], 'shree', 'gjjk', 'Bhumika']

In [169]:
l2.reverse()

In [170]:
l2

[56.67, [45, 89, 68, 56], 'shree', 'gjjk', 'Bhumika']

In [176]:
l2[1][2]

68

In [181]:
l2.count('shree')

1

In [182]:
l2.count('sfgfhree')

0

In [186]:
l2.append([2,4,66,3])

In [187]:
l2

['Bhumika', 'shree', 56.67, [2, 4, 66, 3]]

In [188]:
l1.extend([7,87,287,"yjjgjf"])

In [189]:
l1

['k', 'mishra', 124, 7, 87, 287, 'yjjgjf']

In [194]:
k="man"

In [196]:
k.replace('m','t')

'tan'

# Print will always print None in this case-reverse of a list

In [197]:
print(l2.reverse())

None

In [198]:
l1=[43,4343]
l1+list('sudh')
l1+['sudh']

[43, 4343, 'sudh']

In [199]:
list("sudh")

['s', 'u', 'd', 'h']

In [200]:
[4,8,0,5]+[7,9,1,0]

[4, 8, 0, 5, 7, 9, 1, 0]